/* header css */
* {box-sizing: border-box;}

body { 
  margin: 0;
  background
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  overflow: hidden;
  background-color: rgb(34, 40, 73); 
  padding: 20px 10px;
  text-align: center;
}
.header img{
  height: 90px;
  width: 150px;
  backface-visibility: hidden;
}


.header a.logo {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/* end header csss */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: rgb(2, 21, 37);
  padding: 10px;
}

.grid-container > div {
  /* top: 5rem;  */
  background-color: rgba(150, 154, 160, 0.8);
  border: 1px double rgb(154, 144, 247);
  text-align: center;
  font-size: 30px;
  height: 35rem;;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
/* .dropdown button{
  background-color:rgb(34, 40, 73); 
  display: block;
  color: white;
} */
.dropbtn {
  background-color: rgb(34, 40, 73);
  color: white;
  /* padding: 16px; */
  font-size: 8px;
  border: none;
  display: block;
  /* cursor: pointer; */
}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 30rem;
  font-size: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */